
$background-color: lightblue;
$divBase: 100px;
$boxOne: 1;
$boxTwo: 2;
$boxThree: 3;

.container{
    margin: 0 auto;
    min-height: 500px;
    width: 900px;


    .my-div{

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        div {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: xx-large;
        }
        
        //.my-box-1 helyett ez:

        .my-box-#{$boxOne} {
            background-color: $background-color;
            width: $divBase * $boxOne;
            height: $divBase;
            //order: 1;
            order: $boxOne % 2;
        }

        .my-box-#{$boxTwo} {
            background-color: $background-color;
            width: $divBase * $boxTwo;
            height: $divBase;
            //order: 0;
            order: $boxTwo % 2;
        }

        .my-box-#{$boxThree} {
            background-color: $background-color;
            width: $divBase * $boxThree;
            height: $divBase;
            //order: 1;
            order: $boxThree % 2;
        }

    }
}

